<div class = "ui items">

	<!-- Display of the results, if appliable -->
	
	<% if (contactList.length > 0){ %>
		<% contactList.forEach(function(contact){ %>
			<div class = "item listItems">
				<div class = "content">
					<div class = "header"><%= contact.name %></div>
					<div class = "meta">
						<span class = "stay"><%= contact.email %></span><br />
						<span class = "stay"><%= contact.telephone %></span><br />
						<span class = "stay"><%= contact.address %></span><br />
					</div>
				</div>
			</div>
		<% }) %>
	<% } else { %>
		
		<!-- Message in case of no results for the filter -->
		<% if (Boolean(name) === true) { %>
			<p class = "alert">There are no results for your filter!</p>
		
		<!-- Message in case of an empty contacts file -->
		<% } else { %>
			<p class = "alert">The contacts catalog is empty!</p>
		<% } %>  
	
	<% } %> 
	
</div>
 
