<html lang = "en">

    <head>

        <script src = "jquery-3.1.1.min.js"></script>
        <script src = "semantic.min.js"></script>
		
		<link href = "semantic.min.css" rel = "stylesheet" type = "text/css"/>
		<link href = "custom.css" rel = "stylesheet" type = "text/css"/>

    </head>

    <body class="ui container maintContainer">
        
		<%- include('./head'); %>
        <%- include('./contactList'); %>
        
	</body>

</html>